body {
    background: url(/Images/Castle-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Creepster', cursive;
    font-size: 4.5em;
}

#login {
    color: white;
    display: flex;
    align-items: center;
}

#login div {
    margin-bottom: 15px;
}

#login a {
    text-decoration: none;
    font-style: italic;
    color: white;
}
