@model IList<ActionCommandGame.Services.Model.Results.ItemResult>
@{
    ViewData["Title"] = "Shop";
}

<head>
    <link rel="stylesheet" href="/css/Shop.css" />
</head>

<body>
<div class="row">
    <div class="col-8">
        <h1>@*Welcome Stranger! Anything you need?*@The Duke's Emporium</h1>
    </div>
    <div class="col-2">
        <a class="btn btn-shine" asp-controller="Game" asp-action="Game">Leave</a>
    </div>
    <div class="col-2">
        <h1 id="wallet">€100</h1>
    </div>

    
</div>

<table class="table shopCategory">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Fuel</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <partial name="ShopItemPartial" model=item/>
        }
    </tbody>
    
    
</table>


@*
<h2>Attack Items</h2>
<table class="table shopCategory">
    <thead>
    <tr>
        <th>Name</th>
        <th>Attack</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    foreach (var item in Model)
    {
        <partial name="ShopItemPartialAttackDefense" model=""/>
    }
    

    </tbody>
</table>


<h2>Defense Items</h2>
<table class="table shopCategory">
    <thead>
    <tr>
        <th>Name</th>
        <th>Defense</th>
        <th>Price</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <partial name="ShopItemPartialAttackDefense" model=""/>
    }
    

    </tbody>
</table>


<h2>Energy Items</h2>
<table class="table shopCategory">
    <thead>
    <tr>
        <th>Name</th>
        <th>Fuel</th>
        <th>Cooldown (sec)</th>
        <th>Price</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    @foreach (var person in Model)
    {
        <partial name="ShopItemPartial" model=""/>
    }
    

    </tbody>
</table>
*@

</body>