@model IList<ActionCommandGame.Services.Model.Results.PlayerResult>

<head>
    <link rel="stylesheet" href="/css/CharacterSelection.css"/>
</head>

<h1>Select your character</h1>

<table class="table">
    <tbody>
    @*@foreach (var player in Model)
    {
        <partial name="CharacterSelectionPartial" model=player/>
    }*@

    <partial name="CharacterSelectionPartial"/>
    
    </tbody>
</table>

