<head>
    <link rel="stylesheet" href="/css/CharacterSelection.css"/>
</head>

<h1>Select your character</h1>

<table class="table">
    <tbody>
        <partial name="CharacterSelectionPartial"/>
    </tbody>
</table>

