@model ActionCommandGame.Api.Authentication.Model.UserSignInRequest
<div class="form-group">
    <label asp-for="Email">Email:</label>
    <input asp-for="Email" type="email" value="bavo.ketels@vives.be" class="form-control"/>
    <span asp-validation-for="Email"></span>
</div>
<div class="form-group">
    <label asp-for="Password">Password:</label>
    <input asp-for="Password" type="password" value="Test123$" class="form-control"/>
    <span asp-validation-for="Password"></span>
</div>
