@model ActionCommandGame.Api.Authentication.Model.UserSignInRequest
@{
    ViewData["Title"] = "LoginPage";
}
<head>
    <link rel="stylesheet" href="/css/LoginPage.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
</head>

<div id="login">
    <div class="col-4">
        <h1>The Castle</h1>
        
        <div asp-validation-summary="ModelOnly"></div>
        
        <hr/>

        <form method="post" asp-action="Login">
            
            <partial name="LoginRegisterPartial" model="Model"/>
            
            <div class="form-group">
                <button type="submit" class="btn btn-shine" class="btn-shine" id="btnLoginPage">Log in</button>
            </div>

            <div class="form-group">
                @*<p>
                    <a href="#">Forgot your password?</a>
                </p>*@
                <p>
                    <a asp-controller="Home" asp-action="RegisterPage">Register</a>
                </p>
            </div>
        </form>
    </div>
</div>