@model ActionCommandGame.Ui.WebApp.Models.SignInModel
@{
    ViewData["Title"] = "LoginPage";
}
<head>
    <link rel="stylesheet" href="/css/LoginPage.css"/>
</head>

<div id="login">
    <div class="col-4">
        <h1>Register</h1>
        
        <div asp-validation-summary="ModelOnly"></div>

        <form method="post" asp-action="Register">

            <hr/>

            <div class="form-group">
                <label asp-for="Username">Email:</label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password"></span>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-shine" class="btn-shine" id="btnLoginPage">Register</button>

            </div>
        </form>
    </div>
</div>